.inasistencias-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
}

.rectangle-title {
  position: absolute;
  left: 900px;
  top: 90px;
  font-weight: bold;
}

.additional-content {
  position: absolute;
  left: 350px;
  top: 200px;
}

.additional-text {
  display: flex;
  align-items: center;
}

.large-text {
  font-size: 22px;
  margin-right: 15px;
}

.gray-box {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 20px;
  padding: 5px 25px;
}

.search-box {
  position: absolute;
  left: 10%;
  transform: translateX(+140%);
  top: 20px;
}

.search-input {
  padding: 10px;
  width: 230px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.student-table {
  margin-top: 50px;
  width: 176%;
  border-collapse: collapse;
}

.student-table th,
.student-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.student-table th {
  background-color: #2883CC;
  color: white;
}

.student-table td {
  background-color: #fff;
}

.left-rectangle {
  position: absolute;
  left: 0;
  top: 80px;
  bottom: 0;
  width: 300px;
  background-color: #2883CC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rectangle-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.rectangle-button {
  background: #2883CC;
  border: none;
  color: white;
  font-size: 16px;
  padding: 20px 45px;
  cursor: pointer;
  width: 115%;
  height: 70px;
  text-align: left;
  text-decoration: none;
  outline: none;
  line-height: 1;
  margin-top: 20px;
  border-radius: 0;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.rectangle-button:hover {
  background-color: #2E49BB;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 50px;
  background-color: #2883CC;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
}

.user-info {
  display: flex;
  align-items: center;
  position: relative;
}

.user-name {
  margin-right: 15px;
  font-size: 18px;
}

.profile-icon {
  margin-right: 15px;
  font-size: 18px;
}

.caret-icon {
  margin-right: 30px;
  font-size: 18px;
  cursor: pointer;
}

.logout-menu {
  position: absolute;
  top: calc(100% + 20px);
  right: 60px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.logout-menu button {
  background: none;
  border: none;
  padding: 5px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout-menu button:hover {
  background-color: #f5f5f5;
}

.logout-icon {
  font-size: 16px;
  margin-right: 5px;
  color: black;
}

.logout-text {
  color: black;
  margin-left: 5px;
  flex: 1;
  display: flex;
  align-items: center;
}

.action-button {
  background: #2883CC; /* Color de fondo del botón */
  border: none;
  color: white; /* Color del texto del botón */
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #bcbfcf; /* Color de fondo del botón al pasar el mouse */
  color: black; /* Color del texto del botón al pasar el mouse */
}